/* Hide scrollbar for Chrome, Safari, and Edge */
body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge, and Firefox */
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    /* scrollbar-width: none;     */
  }
  
  .header {
    background-color: #131428;
    color: #ffffff;
    padding: 10px;
    display: flex;
    flex-direction: column;  /* Stack items vertically */
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    height: 98%;
  }
  
  .premiumTxt, .editionTxt {
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
  }
  
  /* .scpace {
    width: 100%;
    flex-shrink: 0;
  }
   */
  .logoImg img {
    max-width: 100%;
    height: auto;
  }
  
  .header {
    background-color: #131428;
    color: #ffffff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    height: 98%;
  }
  
  .premiumTxt, .editionTxt {
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
    display: flex; /* Ensures letters are inline */
  }
  
  .letter {
    opacity: 0; /* Start as invisible */
    transform: translateY(20px); /* Move down slightly */
    animation: fadeInUp 0.5s forwards; /* Set animation */
    margin: 0 2px; /* Add spacing between letters */
  }
  
  /* Animation keyframes */
  @keyframes fadeInUp {
    to {
      opacity: 1; /* Fully visible */
      transform: translateY(0); /* Move to original position */
    }
  }
  

  .editionTxt{
    margin-top: -43px;
  }
  



.PremiumNav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.315) !important; /* Black with 5% opacity */
}

.imageContainer{
    width: 100%;
}

.mainImage{
    width: 100%;
}

.homeBtn,.nav-link{
    color: #d7b700;
    font-size: 1.5rem;

}

.navText{
    margin: 20px;
    margin-top: 18px;
}

.call{
    text-decoration: underline;
}

.sosial{
    color: #d7b700;
    text-decoration: underline;
    font-size: 0.7rem;
    margin-top: -10px;
}

.dropdown-divider{
    text-decoration: underline;
}

.txtSide{
    margin-left: 5rem;
    cursor: pointer;
}

.logoName{
    font-family: 'Playfair Display', serif; /* Elegant serif font */
    font-weight: 700; /* Bold for prominence */
    font-size: 3rem; /* Larger font size for emphasis */
    color: #2C3E50; /* Dark color for professionalism */
    text-align: center;
    display: inline-block;
    color: #d7b700;
}


.logo{

width: 6rem;
height: 6rem;
color: #d7b700;
margin-top: -2.3rem;
}


.locationBtn{
    color: #d7b700;
    cursor: pointer;
    margin-top: 10px;
}


.navbar-nav-scroll::-webkit-scrollbar {
    display: none;
}


@media only screen and (max-width: 600px) {

.logoName{
    font-size: 20px;
}

.logo{

    width: 2rem;
    height: 2rem;
    margin-top: 0rem;

}



}
